.DS_Store
.env

frontend/node_modules
frontend/dist
frontend/.env

backend/node_modules
backend/dist
backend/coverage
backend/.env

analyzer/.venv
analyzer/.pytest_cache
analyzer/__pycache__
analyzer/**/__pycache__
